<h1>websert</h1>
<p>A just a</p>


<ul>
  <li>this is a website</li>
  <li>it was made at 3:39 PM</li>
  <li>it is dumb</li>
  <li>credit to clara for base</li>
</ul>


<p>a crappy update 6;19 PM</p>


<ul>
 <li>i have no idea what to pu on tis wbsert</li>
 <li>i spent 4 hours on this</li>


 </ul>

<p>another update at 7:59 PM</p>

<ul id="email">
  <li>on on github now yay</li>
  <li>here a  <a href="https://github.com/foxer987654/test-2" target="_blank"> link</a>

</ul>

<p>the power of email 8:16 PM</p>

<ul id="email">
  <li> i have a email contact me here <a href="mailto:foxer987654@gmail.com">me</a>
</ul>




<p>end of day one click here for <a href="#page2">day 2</a>

<p>p.s it does now work</p>



<!-- clara to clarifie pun itended is my bestest best friend -->
