<h1>ELK NOISE</h1>
<p>An elk noise will happen within 1 minute.</p>


<ul>
  <li>Elks are loud</li>
  <li>Elks are elky</li>
  <li>Elks are also known as Wapatis</li>
  <li>An elk once beat Ford at a video game</li>
  <li>An elk once ate Alex's hat</li>
</ul>

<button id="start_noise">On mobile? Click here for elk noise.</input>




<!-- <p>hi im a good websert</p>

  <p>you killed my family</p>

  <p>shut up peasant surf</p>

  <p>im a god to you piece of crap</p>

  <p>fasroda</p>

  <p> shut skyrim sucks</p>

  <p>"click"</p>

  <p>hello?</p>

  <p>hello?</p>

  <p>hello?</p>

  <p>hello?</p>

  <p>hello?</p>

  <p>i give up</p>
   -->
