<h1>websert</h1>
<p>A just a</p>


<ul>
  <li>this is a website</li>
  <li>it was made at 3:39 PM</li>
  <li>it is dumb</li>
  <li>credit to clara for base</li>
</ul>

<!-- clara to clarifie pun itended is my bestest best friend -->
